<div class="productCart-wrapper">
    <article class="productCart" *ngFor=" let product of myCart$ | async ">
        <div class="product-Body">
            <p>{{product.name}}</p>
            <div class="product-body-info">
                <p>$ {{product.mass}}</p>
                <p>{{product.cantidad | currency:'USD,EUR,ARS'}}</p>
            </div>

        </div>
    
    <div class="productCart-total">
        <p> ${{totalProducts(product.mass,product.cantidad)}}</p>
    </div>
    <div class="productCart-buttons">
        <div class="productCart-buttons-operators">
            <i class="fa-solid fa-minus" (click)="updateUnits('minus',product.name)"></i>
            <span>{{product.cantidad}}</span>
            <i class="fa-solid fa-plus" (click)="updateUnits('add',product.name)"></i>
        </div>
        <i class="fa-solid fa-trash" (click)="deleteProduct(product.name)"></i>
    </div>
</article>
<div class="cartTotal">
    <p class="cartTotal-total">Total:$ {{totalCart()}}</p>
</div>
<button class="cart-btn"> Ir a mis compras </button>
</div>
