<h1>product-list works!</h1>
<div>
<ul>
    <li *ngFor=" let product of products">
        <p>Nombre : {{product.name }}</p>
        <p>Categoria: {{product.species|| "Human"}}</p>
        <p>Peliculas: {{product.movies}}   </p>
        <p>Precio:{{ product.mass | currency: 'USD,EUR,ARS'}}</p>
        <button (click)="addToCart(product)">Add to Cart</button>
    </li>
</ul>
</div>



<h2>Cart Summary</h2>
<div class="cart-css"></div>
<div *ngFor="let item of cartItems">
  <p>Nombre: {{ item.name }}</p>
  <p>Categoria: {{item.species || "Human"}} </p>
  <p>Peliculas: {{ item.movies }}</p>
  <p>Precio: {{ item.mass | currency:'USD' }}</p>
</div>

<div *ngIf="cartItems.length === 0">
  <p>Tu Carrito esta vacio.</p>
</div>


<button routerLink="/cart">COMPRAR</button>